.vs
*.png
*.fbx
*.tvg
*.jpg
*.tmp
*.exe
*.meta
*.exp
*.pdb
*.ini
*.zip
*.hdr
*.log
*.rtf
*.cache
*.tlog
*.recipe
*.ilk
*.bat
*.obj
*.dll
*.mtl
*.glb
*.wad*
*.json
*.tr*
*.mat
*.wav
*.sfx
*.prefab
*.id0
*.id1
*.id2
*.nam
*.til
*.idb
*.rcnet
TombVG.lib
build/
TombVG/resources/
loader/x64/
bins/
*.idb
jc11/